button,
input[type=submit] {
  background-color: $orange;
  color: white;
  align-self: flex-start;
  border: 0;
  padding: .5rem;
  
}

button:hover,
input[type=submit]:hover {
  cursor: pointer;
  background-color: lighten($orange, 10%);
}