nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  ul {
    list-style-type: none;
    font-size: 1.25rem;
    .active {
      color: $orange;
    }
  }
}

footer nav {
  justify-content: center;
  a {
    padding: 1rem;
  }
  i:hover {
    color: $orange;
  }
}