.events {
  overflow-x: scroll;
  margin-block-end: 2em;
  table {
    margin-block-start: 2em;
    width: 750px;
    a {
      text-decoration: none;
      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
    tbody {
      th {
        text-align: start;
      }
      tr {
        &:nth-of-type(2n) {
          background-color: $orange;
          background-color: rgba($orange, .2);
        }
      }
      td, th {
        padding: .5em 2em;
      }
    }
  }
}

@media (min-width: 800px) {
  .events {
    overflow-x: hidden;
  }
}

