.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-block-start: 2em;
  svg {
    padding: 1em;
  }
  div {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    text-align: center;
    button {
      margin: 1em auto;
    }
  }
  @media (min-width: 600px) {
    svg {
      flex-grow: 1;
    }
    div {
      text-align: start;
    }
  }
  @media(min-width: 1000px) {
    padding: 4em 4em 1em 4em;
  }
}

.hero.books {
  @media (min-width: 600px) {
    svg {
      order: 2;
    }
  }
}