.latest-news {
  margin-block-end: 2em;
  a {
    color: $orange;
    text-decoration: none;
    &:hover {
      text-decoration: dotted underline;
    }
  }
  h2 {
    margin-block-end: 1em;
  }
  h3, p {
    margin-block-end: .5em;
  }
}